//
// Override global variables
//

// Theme colors
$primary:       									#282F40;
$primary-hover:    									#1e2330;
$primary-light:    									#EEE5FF;
$primary-inverse:  									#FFFFFF;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-gutter-width:           						30px !default;
